<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h4>Редактирование текущей книги: </h4>

<%= form_for :book, url: admin_book_path(@book), method: :put  do |f| %>
    
  <p>
  <div class="field">
    <%= f.label 'Название:' %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
   <p></p>
  <div class="field">
    <%= f.label 'Категория:' %><br />
    <%= f.select(:book_type_id, BookType.all.collect{|p| p.name})  %>
    
  </div>
   <p></p>
  <div class="field">
    <%= f.label 'Автор:' %><br />
    <%= f.text_field :author %>
  </div>
   <p></p>
   <div class="field">
    <%= f.label 'Дата издания:' %><br />
    <%= f.date_field :year_book %>
  </div>
  

  <p></p>
  <div class="actions">
    <%= f.submit "Сохранить изменения" %>
  </div>

  </p>
<% end %>