<% if notice %>
<div class="alert-success">
  <p id="notice"><%= notice %></p>
</div>
<% end %>
<!-- <h4>Редактирование текущей книги: </h4> -->
<h4><%= I18n.t('admin.books.show.title')%></h4>
<p></p>

<p>Nn/n : <%= @book.id %></p>
<p>Название  : <%= @book.name%> </p>
<p>Категория  : <%= @book.book_type.name%> </p>
<p>Автор : <%= @book.author%></p>		
<p>Дата издания : <%= @book.year_book%> </p>		
<p></p>	

<div class="align-btn">	
<%= link_to "Редактирование", edit_admin_book_path(@book), class:"btn btn-outline-primary" %>
<%= link_to t('common.back'), :back, class:"btn btn-outline-secondary"%>
</div>
