<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h4>Редактирование текущей книги: </h4>
<p></p>

<p>Nn/n : <%= @book.id %></p>
<p>Название  : <%= @book.name%> </p>
<p>Категория  : <%= @book.book_type.name%> </p>
<p>Автор : <%= @book.author%></p>		
<p>Дата издания : <%= @book.year_book%> </p>		
<p></p>	

	
<%= link_to "Edit", edit_admin_book_path(@book), class:"btn btn-outline-primary" %>
