<div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
<!--         <h4>Редактирование данных администратора: </h4> -->
<h4><%= I18n.t('admin.info.title_edit')%></h4>
<%= form_for :user, url: admin_info_path(@user), method: :put,html: {multipart: true}  do |f| %>
  
  
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
  </div>
   
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name , class: "form-control" %>
  </div>
   
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  
   <div class="form-group">
    <%= f.label :birthdate %>
    <%= f.date_field :birthdate, class: "form-control" %>
  </div>
  
  
  <div class="actions">
    <%= f.submit I18n.t('admin.save_change') , class:"btn btn-outline-primary" %>
  </div>
  </p>
<% end %>
      </div>
    </div>    
</div>
