<% if notice %>
<div class="alert-success">
  <p id="notice"><%= notice %></p>
</div>
<% end %>
<h4> </h4>
<!-- <h4>Личные данные зарегистрированного администратора: </h4> -->
<h4><%= I18n.t('admin.info.title_show')%></h4>
<p></p>
<p><%= I18n.t('admin.nomer')%><%= @user.id %></p>
<p><%= I18n.t('admin.first_name')%><%= @user.first_name%> </p>
<p><%= I18n.t('admin.last_name')%><%= @user.last_name%> </p>
<p><%= I18n.t('admin.email')%><%= @user.email%></p>   
<p><%= I18n.t('admin.birthdate')%><%= @user.birthdate%> </p> 
<p></p>       