<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% if @error %>
<p><%= @error %></p>
<% end %>

<h4>Журнал событий для администратора:</h4>
<p></p>
<div class="table-responsive">
<table class="table table-striped">
	
	<tr>
		<th>Читатель</th>
    	<th>Книга </th>
    	<th>Дата запроса</th>
    	<th>Время подтверждения запроса</th>
    	<th>Наличие свободного экземпляра</th>
    	<th>Всего экземпляров:</th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	
	</tr>
	
		<% @book_requests.each do |request| %>
			<tr>
				<td><%= "#{request.user.first_name.capitalize}  #{request.user.last_name.capitalize}" %> </td>
				<td><%= request.book.name %></td>
				<td><%= request.created_at.to_s(:ru_datetime) %></td>
				<td><%= request.complete_time %></td>
				<td><%= request.book.book_items.noarchived.select{|item| item.book_histories.where('owned_to is null').empty?}.size %> </td>
				<td><%= request.book.book_items.count %> </td>
					<td><% if not request.complete_time %> </td>
						<td><%= button_to 'Подтвердить запрос на выдачу',approval_admin_book_request_path(request) %> </td>
						<td><%= button_to 'Отказать ввиду отсутствия',negative_admin_book_request_path(request) %> </td>
					<td><% else%> </td>	
						<td></td>
						<td></td>
					<td><% end%> </td>
				
				
				<td><%= link_to 'Проверка личных данных читателя','#' %> </td>
			</tr>
		<% end %>
	

</table>
<%= link_to 'Архив запросов','#' %>
</div>
