<% if notice %>
<div class="alert-success">
  <p id="notice"><%= notice %></p>
</div>
<% end %>


<!-- <h4>Журнал событий для администратора:</h4> -->
<h4><%= I18n.t('admin.book_requests.index.title')%></h4>
<p></p>
<div class="table-responsive">
<table class="table table-striped">
	
	<tr>
		<th><%= I18n.t('admin.reader')%></th>
    	<th><%= I18n.t('admin.name_book')%></th>
    	<th><%= I18n.t('admin.book_requests.index.date_query')%></th>
    	<th><%= I18n.t('admin.book_requests.index.time_query')%> </th>
    	<th><%= I18n.t('admin.book_requests.index.free_instance')%></th>
    	<th><%= I18n.t('admin.book_requests.index.total_copies')%> </th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	
	</tr>
	
		<% @book_requests.each do |request| %>
			<tr>
				<td><%= "#{request.user.first_name.capitalize}  #{request.user.last_name.capitalize}" %> </td>
				<td><%= request.book.name %></td>
				<td><%= request.created_at.to_s(:ru_datetime) %></td>
				<td><%= request.complete_time %></td>
				<td><%= request.free_items.size %> </td>   
				<td><%= request.book.book_items.count %> </td>
					<td><% if not request.complete_time %> </td>
						<td><%= button_to I18n.t('admin.book_requests.index.approval_query'),approval_admin_book_request_path(request), class: "btn btn-outline-primary" %> </td>
						<td><%= button_to I18n.t('admin.book_requests.index.negative_query'),negative_admin_book_request_path(request), class: "btn btn-outline-primary" %> </td>
					<td><% else%> </td>	
						<td></td>
						<td></td>
					<td><% end%> </td>
				
				
				<td><%= link_to I18n.t('admin.book_requests.index.personal_data'),'#' %> </td>
			</tr>
		<% end %>
	

</table>
<div class="align-btn">
  <%= link_to I18n.t('admin.book_requests.index.request_archive'),'#', class: "btn btn-primary" %>
  <%= link_to t('common.back'), :back, class: "btn btn-outline-secondary"%>
</div>  

