<h2>Редактирование данных читателя: </h2>

<%= form_for :users , url: edit_reader_user_path do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name  %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

   <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_field :birthdate %>
  </div>
  

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>





