
<div class="container-fluid">
<!--   <h4>Личные данные читателя: </h4> -->
<h4><%= I18n.t('reader.users.show.title')%></h4>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="form-font"> 
        <% if notice %>
          <div class="alert alert-success">
            <p id="notice"><%= notice %></p>
          </div>  
        <% end %>
    
        <p></p>

        <p>Nn/n : <%= @user.id %></p>
        <p>Имя  : <%= @user.first_name%> </p>
        <p>Фамилия  : <%= @user.last_name%> </p>
        <p>Эл.почта : <%= @user.email%></p>   
        <p>Дата рождения : <%= @user.birthdate%> </p>   
        <p></p> 

        <% if can? :update, @user %>      
        <%= link_to "Редактировать", edit_reader_user_path(@user), class: 'btn btn-outline-primary '%>
        <%= link_to t('common.back'), :back, class:"btn btn-outline-secondary"%>
        <% end %>
      </div>   
    </div>
  </div>
</div>

