
<div class="container-fluid">
<!--   <h4>Личные данные читателя: </h4> -->
<h4><%= I18n.t('reader.users.title_show')%></h4>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="form-font"> 
        <% if notice %>
          <div class="alert alert-success">
            <p id="notice"><%= notice %></p>
          </div>  
        <% end %>
    
        <p></p>

        <p><%= I18n.t('reader.users.nomer')%><%= @user.id %></p>
        <p><%= I18n.t('reader.users.first_name')%><%= @user.first_name%> </p>
        <p><%= I18n.t('reader.users.last_name')%><%= @user.last_name%> </p>
        <p><%= I18n.t('reader.users.email')%><%= @user.email%></p>   
        <p><%= I18n.t('reader.users.birthdate')%><%= @user.birthdate%> </p>   
        <p></p> 

        <% if can? :update, @user %>      
        <%= link_to I18n.t('reader.users.but_edit') , edit_reader_user_path(@user), class: 'btn btn-outline-primary '%>
        <%= link_to t('common.back'), :back, class:"btn btn-outline-secondary"%>
        <% end %>
      </div>   
    </div>
  </div>
</div>

