<div class="album">
  <h4>Все книги библиотеки:</h4>
  <div class="container">
      <div class="row">
        
          <% @books.each do |book| %>
        <div class="col-lg-3 col-md-4  col-sm-6 col-xs-12 ">
         <div class="card-group">
          <div class="card text-center">
            <% if book.image? %>  <!-- card-img-top -->
              <img class="card1-img1-top1 text-center" src=<%= book.image.url(:large)%> alt="Card image cap">
            <% end%>  
            <div class="card-body">
            <!--   <h5 class="card-title">N n/n <%= book.id %></h5> -->
            <!-- <h6 class="card-title">Название книги:<%= book.name %></h6> -->
            <p class="card-text">Категория:<%= book.book_type.name %></p> 
            <p class="card-text">Автор:<%= book.author %></p>
            <p class="card-text">Дата издания:<%= book.year_book %></p>
            <p class="card-text"><small class="text-muted"> Кто добавил:<%= "#{book.user.first_name.capitalize} #{book.user.last_name.capitalize}"%></small></p>
            
              <% if book.book_requests.sele(current_user).application.size !=0 %>
                <p class="card-text">Ваша заявка на книгу рассматривается...</p>
            <% else%>
              <% if book.book_requests.not_application.on_handed(current_user).size == 0 %>

                  <div><button type="button" class="btn btn-outline-primary"><%= button_to 'Взять эту книгу',reader_book_book_requests_path(book) %></button></div>

                  <% else%>
                    <p class="card-text">Эта книга у Вас в наличии...</p>
                  <% end%>  
            
            <% end%>    
            </div>  <!-- card-body -->
           </div>  <!-- card -->
           </div>  <!-- card-group -->
       
            </div> <!-- col -->
      <% end %>


    </div>  <!-- row -->
  </div>  <!-- container -->
</div>  <!-- album -->
