<h4>Все книги библиотеки:</h4>
<p></p>
<div class="table-responsive">
<table class="table table-striped">
	
	<tr>
		<th>N n/n</th>
    	<th>Название книги:</th>
    	<th>Категория: </th>
    	<th>Автор: </th>
    	<th>Дата издания: </th>
    	<th>Кто добавил: </th>
    	<th></th>
	</tr>
	
		<% @books.each do |book| %>
			<tr>
				<td><%= book.id %></td>
				<td><%= book.name %> </td>
				<td><%= book.book_type.name %></td>
				<td><%= book.author %></td>
				<td><%= book.year_book %></td>
				<td><%= "#{book.user.first_name.capitalize} #{book.user.last_name.capitalize}"%></td>
					
					<% if book.book_requests.on_handed(current_user).size == 0 %>	
					<td><%= button_to 'Взять эту книгу',reader_book_book_requests_path(book) %></td>  
					<% else%>
					<td>Эта книга у Вас в наличии...</td>
					<% end%>
			</tr>
		<% end %>
	

</table>

</div>
