<h4>Мои книги:</h4>
<p></p>
<div class="table-responsive">
<table class="table table-striped">
	
	<tr>
		<th>N n/n</th>
    	<th>Название книги:</th>
    	<th>Категория: </th>
    	<th>Автор: </th>
    	<th>Дата издания: </th>
    	<th>Кто добавил: </th>

    	<th></th>
	</tr>
	
		<% @books.each do |book| %>
			<tr>
				<td><%= book.id %></td>
				<td><%= book.name %> </td>
				<td><%= book.book_type.name %></td>
				<td><%= book.author %></td>
				<td><%= book.year_book %></td>
				<td><%= book.user.first_name%><%= book.user.last_name%></td>
				<td><%= link_to "Вернуть прочитанную", '#' %> </td>
			</tr>
		<% end %>
	

</table>

</div>

<button type="button" class="btn btn-primary">Взять новую книгу</button>