<h4>Все экземпляры выбранной книги:</h4>
<p></p>

<h5>Название:"<%= @book.name   %>" </h5>
<h5>Жанр:<%= @book.book_type.name   %> </h5>
<h5>Автор:<%= @book.author %> </h4>


<div class="table-responsive">
<table class="table table-striped">
  
  <tr>
      <th>N n/n</th>
      <th>Кто добавил:</th>
     
     
     
      <th>Время добавления:</th>
      <th></th>
      
      
  </tr>
  
    <% @book_items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.user.first_name.capitalize %> <%= item.user.last_name.capitalize %></td>
        
        
       
        <td><%= item.created_at.to_date %></td>
        <td><%= link_to 'Утилизировать','#' %></td>
       
      </tr>
    <% end %>
  

</table>

</div>

<%= button_to 'Создать новый экземпляр',admin_book_book_items_path(@book) %>  
