<% if notice %>
<div class="alert-success">
  <p id="notice"><%= notice %></p>
</div>  
<% end %>

<!-- <h4>Добавить новый экземпляр выбранной книги: </h4> -->
<h4><%= I18n.t('admin.book_items.new.title')%></h4>

<h5>Название:"<%= @book.name   %>" </h5>
<h5>Автор:<%= @book.author %> </h4>

<div class="align-btn">
<%= button_to 'Создать новый экземпляр',admin_book_book_items_path(@book), class:"btn btn-outline-primary" %>  
</div>

