<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h4>Добавить новый экземпляр выбранной книги: </h4>

<h4><%= @book.name   %> </h4>
<h4><%= @book.author %> </h4>

<%= form_for :book_item,  url: admin_book_book_items_path do |f| %>  
  <%= f.number_field :book_id %><br>
  
  <%= f.submit "Создать новый экземпляр" %>
<% end %>


