<% if notice %>
<div class="alert-success">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<p></p>

<p><%= I18n.t('admin.uniq_nomer')%><%= @book_item.id %></p>
<p><%= I18n.t('admin.name_book')%>"<%= @book_item.book.name %>"</p>
<p><%= I18n.t('admin.date_create')%><%= @book_item.created_at.to_s(:ru_datetime)%> </p>
<p><%= I18n.t('admin.user_add')%><%= "#{@book_item.user.first_name.capitalize} #{@book_item.user.last_name.capitalize}"  %>  </p>
<p><%= I18n.t('admin.date_delete')%><%= @book_item.archived_at %></p>		
		
<p></p>	



