<h4>Список уже зарегистрированных: </h4>
<div class="table-responsive">
 <table class="table table-striped">
		
    <tr>
    	<th>N n/n</th>
    	<th>First name </th>
    	<th>Last name </th>
    	<th>Email </th>
    	<th>Birthdate </th>
    	
    </tr>
   
  <% if @users != nil %>
    <% @users.each do |user| %>
    <tr>
		<td><%= user.id %></td>
		<td><%= user.first_name%></td>
		<td><%= user.last_name%></td>
		<td><%= user.email%></td>
		<td><%= user.birthdate%></td>
		
		<td><%= link_to "Edit", '#' %> </td>
    </tr>		  		
   <% end %>
 <% end %>
</table>
</div>
