<% if notice %>
<div class="alert-success">
  <p id="notice"><%= notice  %></p>
</div>
<% end %>
<p></p>

<!-- <h4>Категории книг: </h4> -->
<h4><%= I18n.t('admin.book_types.title_types_index')%></h4>
<p></p>
<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			
			<th><%= I18n.t('admin.book_types.title_types_index')%></th>
			<th><%= I18n.t('admin.book_types.operation')%></th>
			<th><%= I18n.t('admin.book_types.operation')%></th>
			<th></th>
		</tr>
		
		<% @book_types.each do |type|%>
			<tr>
			
			<td><%= link_to type.name,admin_book_type_path(type) %></td>
			<td><%= link_to I18n.t('admin.fun_edit'),edit_admin_book_type_path(type) %> </td>
			<td><%= link_to I18n.t('admin.fun_delete'),admin_book_type_path(type),
									method: :delete,
                                    data: { confirm: "Are you sure?"} %> </td>
      <td></td>                              
			</tr>
			
		<% end %>		
	</table>
 </div>
<div class="align-btn">  	
  <%= link_to I18n.t('admin.book_types.add_new'),new_admin_book_type_path(@book_type), class: "btn btn-primary" %>
  <%= link_to t('common.back'), :back, class: "btn btn-outline-secondary"%>
</div>	

