<% if notice %>
<p id="notice"><%= notice  %></p>
<% end %>
<p></p>

<h4>Создание новой категории книг: </h4>
<%= form_for :book_type, url: admin_book_types_path, html: {multipart: true} do |f|     %>  	
	<div class="form-group">
		<%= f.label "Название:" %> 
		<%= f.text_field :name , class: "form-control" %> 
	</div>
	<p></p>
	<p></p>
	<div class="actions">
		<%= f.submit "Сохранить новую категорию книг", class:"btn btn-primary" %>
	</div>	


<% end %>