
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <% if notice %>
          <div class="alert-success">
            <p id="notice"><%= notice %></p>
          </div>  
          <% end %>
<!--           <h4>Редактирование данных зарегистрированного читателя: </h4> -->
          <h4><%= I18n.t('admin.users.edit.title')%></h4>
          <%= form_for :user, url: admin_user_path(@user), method: :put, html: {multipart: true}  do |f| %>
                
            <p></p>
            <div class="form-group">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
            </div>
             <p></p>
            <div class="form-group">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: "form-control"  %>
            </div>
             <p></p>
            <div class="form-group">
              <%= f.label 'Электронная почта:' %>
              <%= f.text_field :email, class: "form-control" %>
            </div>
             <p></p>
             <div class="form-group">
              <%= f.label 'Дата рождения' %>
              <%= f.date_field :birthdate, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label 'Уровень читателя' %>
              <%= f.number_field :level,:class => 'text_field', class: "form-control" %>
            </div>

            <p></p>
            <div class="actions">
              <%= f.submit I18n.t('admin.save_change'), class:"btn btn-outline-primary" %>
            </div>

            </p>
          <% end %>

      </div>
    </div>    
  </div>

