<h4>Список штрафников : </h4>
<div class="table-responsive">
 <table class="table table-striped">
    
    <tr>
      <th>N n/n</th>
      <th>Читатель </th>
     
      <th>Электр.почта </th>
      <th>Дата штрафа </th>
      
    </tr>
   
  
    <% @users.each do |user| %>
    <tr>
    <td><%= user.id%></td>
    <td><%= "#{user.first_name.capitalize}  #{user.last_name.capitalize}" %></td>
       
    <td><%= user.email%></td>
    <td><%= user.penalty_time.to_s(:ru_datetime)%></td>
    <td> </td>
    
    
    </tr>         
   <% end %>
 
</table>
<%= button_to 'Проверка на наличие штрафа у новых читателей',plus_fine_admin_users_path %>
</div>