
          <% if notice %>
          <div class="alert-success">
            <p id="notice"><%= notice %></p>
          </div>
          <% end %>

<!--           <h4>Список, ожидающих регистрацию : </h4> -->
          <h4><%= I18n.t('admin.users.list_wait.title')%></h4>
          <div class="table-responsive">
           <table class="table table-striped">
              
              <tr>
                <th><%= I18n.t('admin.nomer')%></th>
                <th><%= I18n.t('admin.first_name')%></th>
                <th><%= I18n.t('admin.last_name')%></th>
                <th><%= I18n.t('admin.email')%></th>
                <th><%= I18n.t('admin.birthdate')%></th>
                <th></th>
                <th></th>

              </tr>
             
           
              <% @users.each do |user| %>
              <tr>
              <td><%= user.id %></td>
              <td><%= user.first_name%></td>
              <td><%= user.last_name%></td>
              <td><%= user.email%></td>
              <td><%= user.birthdate%></td>
              
              <td><%= link_to I18n.t('admin.users.list_wait.check_regist') , wait_admin_user_path(user) %> </td>
              <td></td>
              </tr>         
             <% end %>
           
          </table>
          </div>

 

