<% if notice %>
<div class="alert-success">
  <p id="notice"><%= notice %></p>
</div>  
<% end %>
<!-- <h4>Выбран читатель: </h4> -->
<h4><%= I18n.t('admin.users.wait.title')%></h4>
<p></p>

<p><%= I18n.t('admin.nomer')%><%= @user.id %></p>
<p><%= I18n.t('admin.first_name')%><%= @user.first_name%> </p>
<p><%= I18n.t('admin.last_name')%><%= @user.last_name%> </p>
<p><%= I18n.t('admin.email')%><%= @user.email%></p>		
<p><%= I18n.t('admin.birthdate')%><%= @user.birthdate%> </p>		
<p></p>	
<div class="align-btn">
<%= button_to I18n.t('admin.users.wait.check'),confirm_admin_user_path(@user), class:"btn btn-outline-primary" %>
</div>