
<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <% if notice %>
        <div class="alert alert-success">
          <p id="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if @error %>
       <div class="aler alert-danger">
        <p><%= @error %></p>
       </div>
      <% end %>
    </div>
  </div> <!-- row   -->

  <div class="row">
    <div class="col-12">

<!--     <h4>Журнал запросов читателя:</h4> -->
  <h4><%= I18n.t('reader.book_requests.title')%></h4>
    <div class="form-font">
      <div class="table-responsive">
        <table class="table table-striped">
    	
        	<tr>
        		<th>N n/n</th>
            	<th><%= I18n.t('reader.book_requests.name_book')%></th>
            	<th><%= I18n.t('reader.author')%></th>
            	<th><%= I18n.t('reader.category')%></th>
            	<th><%= I18n.t('reader.year_book')%></th>
            		    	
            	<th><%= I18n.t('reader.book_requests.status_process')%></th>
            	<th><%= I18n.t('reader.date_give')%></th> 
            	<th><%= I18n.t('reader.book_requests.date_return')%></th>   

        	</tr>
        	
        		<% @book_requests.each do |request| %>
        			<tr>
        				<td><%= request.id %></td>
        				<td><%= request.book.name %> </td>
        				<td><%= request.book.author %> </td>
        				<td><%= request.book.book_type.name %></td> 
        				<td><%= request.book.year_book.to_s(:ru_datetime) %> </td>
        				
        				

        			<% if not request.complete_time %>
        				<td><%= I18n.t('reader.appl_process')%></td>
        				<td></td>
        				<td></td>
        			<% else%>
        				<% if request.approved_flg == true %>
                   			<td><%= I18n.t('reader.book_requests.you_gave')%> </td>
                   			 <td><%= request.book_history.try(:owned_from).try(:to_s,:ru_datetime) %></td>
        						<% if request.book_history.try(:owned_from) %>
        				     		<td><%= (request.book_history.owned_from + 7.day + 15.hour).try(:to_s,:krat_datetime) %></td>
        			 			<% else %>
        			 				<td></td>
        			 			<% end %>

                		<% else%>
        					<td><%= I18n.t('reader.book_requests.sorry_not')%> </td>
        				  <td></td>
                  <td></td>
                <% end %>
        			<%  end %>				
        				
        			</tr>
        		<% end %>
    	

      </table>
      </div>
    </div>
  </div>

  </div> <!-- row   -->  
</div> <!-- cont-r -->
</div>
