<h4>Журнал запросов читателя:</h4>
<p></p>
<div class="table-responsive">
<table class="table table-striped">
	
	<tr>
		<th>N n/n</th>
    	<th>Название книги:</th>
    	<th>Автор:</th>
    	<th>Категория: </th>
    	<th>Дата издания: </th>
    	<th>Статус обработки заявки:</th>
    	
    	
	</tr>
	
		<% @book_requests.each do |request| %>
			<tr>
				<td><%= request.id %></td>
				<td><%= request.book.name %> </td>
				<td><%= request.book.author %> </td>
				<td><%= request.book.book_type.name %></td> 
				<td><%= request.book.year_book.to_s(:ru_datetime) %> </td>
			<% if not request.complete_time %>
				<td>Ваша заявка на книгу рассматривается...</td>
			<% else%>
				<td>Заявка на книгу подтверждена администратором</td>
			<%  end %>				
				
			</tr>
		<% end %>
	

</table>

</div>
