<% if notice %>
<div class="alert-success">
  <p id="notice"><%= notice %></p>
</div>  
<% end %>

<!-- <h4>Список штрафников : </h4> -->
<h4><%= I18n.t('admin.fines.title_index')%></h4>
<div class="table-responsive">
 <table class="table table-striped">
    
    <tr>
      <th><%= I18n.t('admin.nomer')%></th>
      <th><%= I18n.t('admin.reader')%></th>
     
      <th><%= I18n.t('admin.fines.reader_email')%></th>
      <th><%= I18n.t('admin.fines.date_fine')%></th>
      <th><%= I18n.t('admin.fines.fine_of_book')%></th>
    </tr>
   
  
    <% @fines.each do |fine| %>
    <tr>
    <td><%= fine.id%></td>
    <td><%= "#{fine.user.first_name.capitalize}  #{fine.user.last_name.capitalize}" %></td>
       
    <td><%= fine.user.email%></td>
    <td><%= fine.user.created_at.to_s(:ru_datetime)%></td>
    <td><%= fine.book_history.book_item.book.name %></td>
    <td> </td>
    
    
    </tr>         
   <% end %>
 
</table>

<div class="align-btn">
  <%= button_to I18n.t('admin.fines.check') ,admin_fines_path , class:"btn btn-primary"%>
</div>


</div>

