<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <link data-require="bootstrap-css@*" data-semver="4.0.0-alpha.4" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
   <%=  current_user.email  %> |<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
   <% else %> 
   <%= link_to 'Sign In', new_user_session_path %> | <%= link_to 'Sign Up',    new_user_registration_path %> 
  	<% end %> 
  	
<h3>Информация только для администраторов </h3>
 												
 <%= link_to 'Список уже зарегистрированных', admin_users_path  %>|
 <%= link_to ' Список, ожидающих регистрацию', list_wait_admin_users_path  %>|
 <%= link_to ' Список штрафников', list_fines_admin_users_path  %>	|
 <%= link_to ' Учет и пополнение книг', admin_books_path  %>	| 
 <%= link_to ' Категории книг', '#'  %>	|
 <%= link_to ' Все администраторы', admin_info_index_path  %>	|
 
<% if @errors %>
 <%= render 'layouts/error_messages' %>
<% end %> 

<%= yield %>


 
</body>
</html>