<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>This only for admin</h1>
 
 <%= link_to 'Список уже зарегистрированных', '#'  %> |
 <%= link_to ' Список, ожидающих регистрации', '#'  %>	|
 <%= link_to ' Список штрафников', '#'  %>	|
 <%= link_to ' Учет и пополнение книг', '#'  %>	| 
 <%= link_to ' Категории книг', '#'  %>	|
 <%= link_to ' Все администраторы', '#'  %>	|
 <%= link_to ' Личный кабинет', '#'  %>	|




<%= yield %>
 
</body>
</html>