<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <link data-require="bootstrap-css@*" data-semver="4.0.0-alpha.4" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3>Информация только для администраторов </h3>
 
 <%= link_to 'Список уже зарегистрированных', admins_index_path  %> |
 <%= link_to ' Список, ожидающих регистрации', admins_show_path  %>	|
 <%= link_to ' Список штрафников', '#'  %>	|
 <%= link_to ' Учет и пополнение книг', '#'  %>	| 
 <%= link_to ' Категории книг', '#'  %>	|
 <%= link_to ' Все администраторы', '#'  %>	|
 <%= link_to ' Личный кабинет', '#'  %>	|






<%= yield %>
 
</body>
</html>