<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette|Lobster|Spectral&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag  "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="form-zast"> 
  <div class="container-fluid">
    <div class="row"> 
      <div class="col">
            
    <nav class="navbar  navbar-light  navbar-expand-lg"> <!-- bg-faded -->
      <a class="navbar-brand" href="#"><%= I18n.t('common.logo') %>
        <%= image_tag("/assets/books1.png", alt: "", width:"64", height:"64") %>
<!--         <img src="/assets/books16.png" width="64" height="64" alt=""> -->
      </a>

      <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <span class="navbar-text">
          <%=  current_user.email%>
        </span>
        
        <li class="nav-item<%= " active" if I18n.locale == :ru %>" >
          <%= link_to I18n.t('common.rus'), {locale: :ru}, class: "nav-link" %>
        </li>
        <li class="nav-item<%= " active" if I18n.locale == :en %>" >
          <%= link_to I18n.t('common.eng'), {locale: :en}, class: "nav-link" %>
        </li>
        <li>
          <%= link_to I18n.t('common.output'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary' %>
        </li>

      </ul>
       <% else %>
        <ul class="nav navbar-nav">
          <li>
           <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-outline-primary' %> 
          </li>
          <li>
           <%= link_to 'Sign Up', new_user_registration_path,class: 'btn btn-outline-primary' %>  
          </li>
          
        </ul>
    
      	<% end %> 	
  
    </nav>
   </div>  <!-- row -->
  </div> <!-- col --> 
  </div>  <!-- container -->

  <div class="container-fluid">
    <div class="row"> 
      <div class="col">
<!--         <div class="osn"> -->  
        <h3> <%= I18n.t('common.for_reader') %> </h3>

            <nav class="navbar navbar-expand-lg navbar-light">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                
                <%= link_to I18n.t('reader.books.title'), reader_books_path, class: 'btn btn-outline-primary' %>
              </li>
              <li class="nav-item">
                <%= link_to I18n.t('reader.book_histories.title'),  reader_book_histories_path, class: 'btn btn-outline-primary' %>
              </li>
              <li class="nav-item">
               <%= link_to I18n.t('reader.users.title_show'), reader_user_path(current_user), class: 'btn btn-outline-primary'%> 
              </li>
              <!-- <li class="nav-item">
                <%= link_to 'Архив', '#', class: 'btn btn-outline-primary'  %>  
              </li> -->
              <li class="nav-item">
                <%= link_to I18n.t('reader.book_requests.title'),reader_book_requests_path, class: 'btn btn-outline-primary' %>
              </li>
            </ul>
          </div>
        </nav>
      <!-- </div>  --> 
     </div> <!-- row -->
    </div> <!-- col -->
  </div>  <!-- container -->    												

    <div class="container-fluid">
    <div class="row"> 
      <div class="col"> 
        <% if @errors %>
         <%= render 'layouts/error_messages' %>
        <% end %> 
      </div> <!-- row -->
    </div> <!-- col -->
  </div>  <!-- container -->   

    <%= yield %>
  </div>   <!-- form-zast -->
</body>
</html>